.default-list {
  margin-top: 20px;

  .block {
    border-top: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .list-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .actions {
      display: flex;

      .button {
        margin-left: 1rem;
      }
    }

    .title-data {
      display: flex;
      flex-direction: column;

      .title {
        @include text-default;
      }
    }

    .description {
      @include text-default;
      white-space: pre-wrap;

      &--outer {
        margin-top: 1rem;
        background: $grey1;
        border-radius: 5px;
        padding: 1rem;
      }
    }
  }
}
